
*{
  font-family: 'Open Sans',;
}

button {
  all: unset;
}

body{
  margin:0;
}

.navv {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: rgba(56, 51, 51, 0.9);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navv a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbutton{
  max-width: max-content;
}

.dropdown .dropbutton {
  background-color: inherit;
  font-family: inherit;
  font-size: 16px;
  color: white;

}

.navv a:hover, .dropdown:hover {
  background-color: rgb(157, 124, 103);
}

.dropcontent {
  display: none;
  position: absolute;
  min-width: 100px;
  background-color: #f9f9f9;
  box-shadow: 0px 5px 10px 0px rgba(70, 52, 52, 0.354);
  z-index: 1;
}

.dropcontent a {
  float: none;
  color: black;
  padding: 14px 16px;
  display: block;
  text-align: left;
}

.dropcontent a:hover {
  background-color: rgb(224, 207, 207);
}

.dropdown:hover .dropcontent {
  display: block;
}

.content{
  padding: 30px;
  background-color: #f3eeeb;
  line-height: 1.5;
  color: #50394c;
}

nav{
  background-color: #f3eeeb;
  padding: 10px;
}

.pagination{
  padding-top: 10px;
}

.page-item{
  padding: 5px;
  border-radius: 8px;
}

table, th, td {
  border: 3px solid;
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
  }

  table{
    background-color: white;
  }

  th{
    background-color: #dcf1dc;
  }

  .footerbtn{
    background-color: rgba(221, 220, 252, 0.9);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-height: fit-content; 
    border-radius: 10px;
    padding: 30px;
  }

  .footer{
    background-color: rgba(56, 51, 51, 0.9);
    padding: 30px;
  }